<div class="row">
    <div class="col-md-4">
        <h3>Events app maker DoubleDutch downsizes again, lays off 40 percent of staff</h3>
            <div class="row">
                <div class="col-md-6">
                    DoubleDutch, a startup providing mobile apps and analytics for events and conferences is downsizing again. The company has just announced another round of layoffs, affecting roughly 40 percent its workforce, TechCrunch.
                </div>
                <div class="col-md-6">
                    <img width="70%"  src="https://tctechcrunch2011.files.wordpress.com/2017/01/doubledutch.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
                </div>
            </div>
    </div>
    <div class="col-md-4"><h3>GoFundMe acquires CrowdRise to expand to fundraising for charities</h3>
            <div class="row">
                <div class="col-md-6">
                    GoFundMe has made a name for itself as a go-to platform for individuals looking to raise money for good causes — a business that has been
                </div>
                <div class="col-md-6">
                    <img width="70%"  src="https://tctechcrunch2011.files.wordpress.com/2017/01/sean_o_sullivan.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
                </div>
                </div>
    </div>
    <div class="col-md-4"><h3>Two of Razer’s crazy concept laptops were stolen at CES </h3>
            <div class="row">
                <div class="col-md-6">
                    You don’t hear the words “industrial espionage” get tossed around too liberally at a show like CES. But Razer CEO Min-Liang Tan invoked them 
                </div>
                <div class="col-md-6">
                    <img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/01/razer-project-valerie-open-perspective.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
                </div>
            </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <h3>Events app maker DoubleDutch downsizes again, lays off 40 percent of staff</h3>
        <div class="row">
            <div class="col-md-6">
                DoubleDutch, a startup providing mobile apps and analytics for events and conferences is downsizing again. The company has just announced another round of layoffs.
            </div>
            <div class="col-md-6">
                <img width="70%"  src="https://tctechcrunch2011.files.wordpress.com/2017/01/doubledutch.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4"><h3>GoFundMe acquires CrowdRise to expand to fundraising for charities</h3>
    <div class="row">
    <div class="col-md-6">
       GoFundMe has made a name for itself as a go-to platform for individuals looking to raise money for good causes — a business that has been
    </div>
    <div class="col-md-6">
       <img width="70%"  src="https://tctechcrunch2011.files.wordpress.com/2017/01/sean_o_sullivan.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
    </div>
    </div>
    </div>
    <div class="col-md-4"><h3>Two of Razer’s crazy concept laptops were stolen at CES </h3>
        <div class="row">
            <div class="col-md-6">
                You don’t hear the words “industrial espionage” get tossed around too liberally at a show like CES. But Razer CEO Min-Liang Tan invoked them 
            </div>
            <div class="col-md-6">
                <img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/01/razer-project-valerie-open-perspective.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
            </div>
        </div>
    </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Events app maker DoubleDutch downsizes again, lays off 40 percent of staff</h3>
            <div class="row">
                <div class="col-md-6">
                    DoubleDutch, a startup providing mobile apps and analytics for events and conferences is downsizing again. The company has just announced another round of layoffs, affecting roughly 40 percent its workforce, TechCrunch.
                </div>
                <div class="col-md-6">
                    <img width="70%"  src="https://tctechcrunch2011.files.wordpress.com/2017/01/doubledutch.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
                </div>
            </div>
            </div>
    <div class="col-md-4"><h3>GoFundMe acquires CrowdRise to expand to fundraising for charities</h3>
        <div class="row">
            <div class="col-md-6">
                GoFundMe has made a name for itself as a go-to platform for individuals looking to raise money for good causes — a business that has been
            </div>
            <div class="col-md-6">
                <img width="70%"  src="https://tctechcrunch2011.files.wordpress.com/2017/01/sean_o_sullivan.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4"><h3>Two of Razer’s crazy concept laptops were stolen at CES </h3>
        <div class="row">
            <div class="col-md-6">
                You don’t hear the words “industrial espionage” get tossed around too liberally at a show like CES. But Razer CEO Min-Liang Tan invoked them 
            </div>
            <div class="col-md-6">
                <img width="70%" src="https://tctechcrunch2011.files.wordpress.com/2017/01/razer-project-valerie-open-perspective.png?w=260&h=195&crop=1&quality=85&strip=all" alt="">
            </div>
        </div>
    </div>
    </div>